body {
    background: lightblue;
    font-family: cursive;
}
p {
    background: rgb(255, 255, 213);
    color: pink;
    font-size: 18px;
    padding: 15px;
    margin: 30px;
}
ul {
    background: lightskyblue;
    color: darkblue;
    font-size: 19px;
}
h1 {
    border: 5px dotted rgb(182, 227, 248);
    background: rgb(255, 195, 195);
}

.banner {
    text-align: center;
    font-size: larger;
}

a {
    color: lightgoldenrodyellow;
    text-decoration: none;
}

a:hover {
        color: crimson;    
}